
body{
    background: linear-gradient(black,black,purple);
    background-attachment:fixed;
    color:white;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: fadeIn 1s;
    box-sizing:border-box;
}

@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.counterTitle{
    font-size:100px;
    margin-top:50px;
}

#bigNumber{
    font-size:350px;
    margin:0px;
    margin-bottom:60px;
}

.button{
    font-size:60px;
    border-radius: 70px;
    background-color:rgb(63, 1, 63);
    border: black solid 2px;
    color:white;
    padding:20px;
    transition:all ease-in-out .2s;
}

.button:hover{
    background-color:purple;
    color:white;
    transform: scale(1.1);
}

.button:active{
    color:white;
    background-color: rgb(194, 0, 194);
    transition:none 0s;
}

.buttons{
    display:flex;
    gap:20px;
    justify-content: center;
}